<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agora Live Streaming</title>
    <script src="https://download.agora.io/sdk/release/AgoraRTC_N-4.20.0.js"></script>
    <script src="./script.js"></script>
</head>
<body>

<h1>Agora Live Streaming ....</h1>
<div id="loader" style="display: none;justify-content: center;align-items: center">Loading ......</div>
<video id="remoteVideo" autoplay width="750" height="500"></video>
<div id="videos-container"></div>

</body>


</html>
